<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Linkly</title>
  <meta name="description" content="Linkly: Link Conversion">
  <meta name="author" content="Kelly Ripple">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script src="https://unpkg.com/vue"></script>
  <link rel="icon" href="favicon.ico">
</head>

<body>

  <div class="container">
    <div id="input" class="input">
      <input type="url" placeholder="enter link to convert" v-model="link" v-on:keyup="convertLink()">
    </div>

    <div id="display" class="display">
      <div v-if="linkVisible">
        <!-- <a v-bind:href="convertedLink" target="_blank">Google Maps Link</a> -->
        <h1>{{ coordinates }}</h1>
      </div>
    </div>
  </div>

  <script src="main.js"></script>
</body>
</html>
